<h1><%= "#{@user.name}'s Profile Page" %></h1>
<%= link_to "Recipe Subscriptions", user_recipes_path(@user) %><br>
<% if current_user == @user %>
    <%= link_to "Edit Profile", edit_user_path(@user) %><br>
    <%= link_to "Delete Profile", user_path(current_user.id), method: :delete %><br>
<% end %>